---
// Import BaseLayout
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Header
import Header from '../layouts/Header.astro';

// Import Stylesheet
import '../styles/global.css';

// data source
const source = 'https://www.csscolorsapi.com/api/colors';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();

console.log(data);
---

<BaseLayout>
		<Header />
		
		  
				<!-- Your API Data -->
					{
					
					data.colors.map(color => 
					<li style={`background: ${color.hex} `}>
						{color.name}
					</li> 
					)
					}
			
			<main id="content" class="main-area">

  <ul class="cards">

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

    <!-- Repeating Template -->
    <li class="card-item">
      <a href="#">
        <figure class="card">
          <img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
          <figcaption class="caption">
            <h3 class="caption-title">Title</h3>
            <p>Description Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
      </a>
    </li>

  </ul>
</main>
		  
</BaseLayout>

	
