---
// Import BaseLayout
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Header
import Header from '../layouts/Header.astro';

// Import Stylesheet
import '../styles/global.css';

// data source
const source = 'https://www.csscolorsapi.com/api/colors';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();

console.log(data);
---

<BaseLayout>
		<Header />
		

		<main id="content" class="main-area">

			<ul class="grid">
		  
				<!-- Your API Data -->
					{data.colors.map(color => 
					<li>
						{color.name}
					</li> 
					)
					}
			
			</ul>
		  </main>
		  
</BaseLayout>

	
