---
// Import BaseLayout
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Header
import Header from '../layouts/Header.astro';
// Import GetStuff
import GetStuff from '../components/GetStuff.astro';

// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://jsonplaceholder.typicode.com/users';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<BaseLayout>
		<Header />
		

		<main id="content" class="main-area">

			<GetStuff data={data} /> 
		  </main>
		  
</BaseLayout>

	
